name: Update License
on:
  schedule:
    - cron: 0 0 1 1 *
  workflow_dispatch:
permissions:
  contents: read
concurrency: update-license
jobs:
  update-license:
    name: Update License
    runs-on: ${{vars.RUNS_ON}}
    timeout-minutes: 5
    strategy:
      matrix:
        branch:
          - main
          - release/jammy
          - release/focal
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{matrix.branch}}
      - name: Generate app token
        id: app-token
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: ${{secrets.GH_APP_ID}}
          private-key: ${{secrets.GH_APP_PRIVATE_KEY}}
      - name: Determine info
        shell: bash
        id: info
        run: |
          YEAR_REGEX='[0-9]{4}'
          REGEX="^(Copyright \(c\) )${YEAR_REGEX}( Devon Powell)$"
          OLD_YEAR=$(grep -oEi "${REGEX}" LICENSE | grep -oEi "${YEAR_REGEX}")
          NEW_YEAR=$(date +%Y)
          UPDATE_TITLE="Bump \`LICENSE\` year from ${OLD_YEAR} to ${NEW_YEAR}"
          USER_NAME="${GITHUB_APP_SLUG}[bot]"
          USER_ID=$(gh api "users/${USER_NAME}" --jq '.id')
          USER_EMAIL="${USER_ID}+${USER_NAME}@users.noreply.github.com"
          COMMIT_AUTHOR="${USER_NAME} <${USER_EMAIL}>"
          echo "replace-regex=${REGEX}" >> "${GITHUB_OUTPUT}"
          echo "license-year=${NEW_YEAR}" >> "${GITHUB_OUTPUT}"
          echo "update-title=${UPDATE_TITLE}" >> "${GITHUB_OUTPUT}"
          echo "update-body=${UPDATE_TITLE}." >> "${GITHUB_OUTPUT}"
          echo "commit-author=${COMMIT_AUTHOR}" >> "${GITHUB_OUTPUT}"
        env:
          GITHUB_APP_SLUG: ${{steps.app-token.outputs.app-slug}}
          GH_TOKEN: ${{github.token}}
      - name: Update LICENSE
        run: sed -i -E "s/${REPLACE_REGEX}/\1${LICENSE_YEAR}\2/" LICENSE
        env:
          LICENSE_YEAR: ${{steps.info.outputs.license-year}}
          REPLACE_REGEX: ${{steps.info.outputs.replace-regex}}
      - name: Handle changes
        uses: peter-evans/create-pull-request@v8.0.0
        id: changes
        with:
          token: ${{steps.app-token.outputs.token}}
          commit-message: ${{steps.info.outputs.update-title}}
          author: ${{steps.info.outputs.commit-author}}
          committer: ${{steps.info.outputs.commit-author}}
          add-paths: LICENSE
          base: ${{matrix.branch}}
          branch: auto/${{matrix.branch}}/update-license
          delete-branch: true
          title: ${{steps.info.outputs.update-title}}
          body: ${{steps.info.outputs.update-body}}
          labels: auto
      - name: Enable auto merge
        if: steps.changes.outputs.pull-request-operation == 'created'
        run: gh pr merge --auto --squash "${PULL_REQUEST_URL}"
        env:
          GITHUB_TOKEN: ${{steps.app-token.outputs.token}}
          PULL_REQUEST_URL: ${{steps.changes.outputs.pull-request-url}}
